.navbar {
    background-color: purple;
    color: white;
}

label {
    font-weight: bolder;
    font-size: 28px;
    margin: 2px;
}

#search-bar {
    border-bottom: 1px solid grey;
}

#required-city {
    margin: 1px;
    padding: 5px;
    border: 1px solid black;
}

.card .card-body-dates {
    background-color: #00877a;
    color: white;
}

h1,
h2,
h5 {
    font-weight: bolder;
}

footer {
    text-align: center;
}

a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 18px;
}

#required-city span {
    font-weight: bolder;
}

img {
    height: 50px;
    margin: 0;
    padding: 0;
    position: relative;
    top: -3px;
}

h2 span {
    font-weight: normal;
    font-size: 25px;
    margin: 2px;
    padding: 10px;
    color: red;
}

.card {
    height: 100%;
}

.card-body-dates {
    padding-left: 10px;
}
